# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MMORPGTestClient.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Bergman\Desktop\gp20-2021-0426-rest-gameserver-BjornKlarstrom\MMORPGTestClient\.idea\.idea.MMORPGTestClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
